BACKEND_IMAGE=ghcr.io/github-owner/repository-backend:latest
FRONTEND_IMAGE=ghcr.io/github-owner/repository-frontend:latest

BACKEND_ENV_FILE=/opt/findmydoc/production/backend.env
FRONTEND_ENV_FILE=/opt/findmydoc/production/frontend.env

BACKEND_NETWORK_ALIAS=backend-prod
FRONTEND_NETWORK_ALIAS=frontend-prod

POSTGRES_USER=mentalme
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=mentalme